@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@0;1&display=swap');

body {
    font-family: 'Fanwood Text', serif;
}
.grid-main {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "logo"
        "navbar"
        "main"
        "footer";
    row-gap: 0.3rem;

}

.logo {
    grid-area: logo;
    min-height: 6rem;
    background-color: rgb(211, 211, 211);
    display: flex;
    justify-content: center;
    text-align: center;
}
.titles {
    font-family: 'Fanwood Text', serif;
    font-size: 2rem;
    font-weight:bold;
    margin:auto;
}

.navbar {
    grid-area: navbar;
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(156, 156, 156);
    justify-content: center;
}
.navbar a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}
.navbar a:hover {
    background: rgb(71, 71, 71);
}
.main {
    font-size: 1.3rem;
    grid-area: main;
    justify-self: center;
    max-width: 50%;
}
.footer {
    padding: 1rem;
    text-align: center;
    grid-area: footer;
<<<<<<< HEAD
    background-color: rgb(211, 211, 211);
    padding:1rem;
=======
    background-color: rgb(246, 255, 197);
>>>>>>> 5b7c33b7da303aa0c4a7c1ec65f0eb8b41f86ac5
}
p {
    text-align: justify;
    text-indent: 2rem;
}
@media only screen and (max-width:900px){
    .main{
        max-width: 100%;
    }
}